<div id="<%= dom_id input_report_stock %>">
  <p>
    <strong>Input report:</strong>
    <%= input_report_stock.input_report_id %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= input_report_stock.stock_id %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= input_report_stock.section_id %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= input_report_stock.notes %>
  </p>

</div>
