<div id="<%= dom_id family %>">
  <p>
    <strong>Name:</strong>
    <%= family.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= family.description %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= family.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= family.updated_at %>
  </p>
</div>