
<% families.each do |family| %>
<tr data-controller="editable" data-editable-id="<%= family.id %>">
  <td class="editable-text" data-editable-target="nameText"><%= family.name %></td>
  <td class="editable-text" data-editable-target="descriptionText"><%= family.description %></td>
  <td>
    <input type="text" name="name" value="<%= family.name %>" class="d-none" data-editable-target="nameInput">
    <input type="text" name="description" value="<%= family.description %>" class="d-none" data-editable-target="descriptionInput">
    <button class="edit-button" data-action="click->editable#edit">
      <i class="fas fa-edit"></i> Edit
    </button>
    <button class="save-button d-none" data-action="click->editable#save">
      <i class="fas fa-save"></i> Save
    </button>
    <button class="cancel-button d-none" data-action="click->editable#cancel">
      <i class="fas fa-times"></i> Cancel
    </button>
    </td>
 
</tr>
<%end%>