<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title">
      <%= @family.new_record? ? I18n.t("ingeniario.families.new") : I18n.t("ingeniario.families.edit") %>
    </h3>
    <div>
      <%= link_to I18n.t("ingeniario.buttons.back"), families_path, class: "btn btn-secondary" %>
    </div>
  </div>
  <div class="card-body">
    <%= form_with(model: @family, local: true) do |form| %>
      <% if @family.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@family.errors.count, "error") %> prohibited this family from being saved:</h4>
          <ul>
            <% @family.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, "Nombre de la Familia", class: "form-label" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :description, "Descripción", class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <!-- Submit button -->
      <div class="d-grid mt-4">
        <%= form.submit I18n.t("ingeniario.buttons.save"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>