<div id="<%= dom_id stock %>">
  <p>
    <strong>Item:</strong>
    <%= stock.item_id %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= stock.reference %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= stock.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= stock.active %>
  </p>

  <p>
    <strong>Entry date:</strong>
    <%= stock.entry_date %>
  </p>

</div>
