<div id="<%= dom_id section %>">
  <p>
    <strong>Name:</strong>
    <%= section.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= section.description %>
  </p>

  <p>
    <strong>Warehouse:</strong>
    <%= section.warehouse_id %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= section.capacity %>
  </p>

  <p>
    <strong>Location code:</strong>
    <%= section.location_code %>
  </p>

</div>
