<tr>
  <td><%= output_report.id %></td>
  <td><%= output_report.user.code %></td>
  <td><%= l output_report.date, format: :short %></td>
  <td><%= truncate(output_report.reason, length: 50) %></td>
  <td>
    <span class="badge bg-dark text-<%= status_badge_class(output_report.status) %>">
      <i class="<%= report_status_icon(output_report.status) %> me-1"></i>
      <%= output_report.status_text %>
    </span>
  </td>
  <td>
    <div class="btn-group">
      <%= link_to output_report_path(output_report), class: "btn btn-sm btn-info" do %>
        <i class="fas fa-eye"></i>
      <% end %>
      <%= link_to edit_output_report_path(output_report), class: "btn btn-sm btn-primary" do %>
        <i class="fas fa-edit"></i>
      <% end %>
      <%= link_to output_report_path(output_report), 
          method: :delete, 
          data: { confirm: '¿Estás seguro?' }, 
          class: "btn btn-sm btn-danger" do %>
        <i class="fas fa-trash"></i>
      <% end %>
    </div>
  </td>
</tr> 