<div id="<%= dom_id item_location %>">
  <p>
    <strong>Item:</strong>
    <%= item_location.item_id %>
  </p>

  <p>
    <strong>Section:</strong>
    <%= item_location.section_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= item_location.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= item_location.status %>
  </p>

  <p>
    <strong>Assigned at:</strong>
    <%= item_location.assigned_at %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= item_location.return_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= item_location.notes %>
  </p>

</div>
