<div class="card mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title mb-0">
      <%= I18n.t("ingeniario.item_locations.list.title") %>
    </h3>
    <%= link_to I18n.t("ingeniario.buttons.new", resource: "Item location"), new_item_location_path, class: "btn btn-primary btn-sm" %>
  </div>

  <div class="card-body">
    <!-- Barra de búsqueda -->
    <div class="mb-3">
      <%= render 'layouts/search_order_bar', controller: 'item_locations' %>
    </div>

    <!-- Tabla de datos -->
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
                          <th><%= I18n.t("ingeniario.item_locations.cols.item_id") %></th>
                          <th><%= I18n.t("ingeniario.item_locations.cols.section_id") %></th>
                          <th><%= I18n.t("ingeniario.item_locations.cols.user_id") %></th>
                          <th><%= I18n.t("ingeniario.item_locations.cols.status") %></th>
                          <th><%= I18n.t("ingeniario.item_locations.cols.assigned_at") %></th>
                          <th><%= I18n.t("ingeniario.item_locations.cols.return_date") %></th>
                          <th><%= I18n.t("ingeniario.item_locations.cols.notes") %></th>
                        <th colspan="3" width="10%" class="text-center">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% @item_locations.each do |item_location| %>
            <tr>
                              <td><%= item_location.item %></td>
                              <td><%= item_location.section %></td>
                              <td><%= item_location.user %></td>
                              <td><%= item_location.status %></td>
                              <td><%= item_location.assigned_at %></td>
                              <td><%= item_location.return_date %></td>
                              <td><%= item_location.notes %></td>
                            <td class="text-center">
                <%= link_to I18n.t("ingeniario.buttons.show"), item_location, class: "btn btn-success btn-sm" %>
              </td>
              <td class="text-center">
                <%= link_to I18n.t("ingeniario.buttons.edit"), edit_item_location_path(item_location), class: "btn btn-warning btn-sm" %>
              </td>
              <td class="text-center">
                <%= link_to I18n.t("ingeniario.buttons.delete"), item_location, method: :delete, data: { confirm: I18n.t("ingeniario.messages.confirm_delete") }, class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- Paginación -->
    <div class="custom-pagination">
      <%= will_paginate @families, renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>
