<div class="container mt-4">
  <!-- Información del Item -->
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title mb-0">
        <i class="fas fa-box"></i>
        <%= @item.name %>
      </h3>
      <div>
        <%= link_to edit_item_path(@item), class: "btn btn-warning me-2" do %>
          <i class="fas fa-edit"></i>
          <%= I18n.t("ingeniario.buttons.edit") %>
        <% end %>
        <%= link_to items_path, class: "btn btn-secondary" do %>
          <i class="fas fa-arrow-left"></i>
          <%= I18n.t("ingeniario.buttons.back") %>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <% if @item.photo.attached? %>
            <%= image_tag @item.photo, class: "img-fluid rounded mb-3", style: "max-height: 300px; width: auto;" %>
          <% else %>
            <div class="text-center p-4 bg-light rounded mb-3">
              <i class="fas fa-image fa-4x text-secondary"></i>
              <p class="mt-2 text-muted">Sin imagen</p>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th width="30%"><%= I18n.t("ingeniario.items.cols.description") %></th>
                <td><%= @item.description %></td>
              </tr>
              <tr>
                <th><%= I18n.t("ingeniario.items.cols.group") %></th>
                <td><%= @item.group.name %></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="col-md-4">
          <% if @item.properties.present? %>
            <table class="table table-striped">
              <tbody>
                <% @item.properties.each do |key, value| %>
                  <tr>
                    <th width="30%"><%= @item.group.properties[key] %></th>
                    <td><%= value %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla de Stocks -->
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h3 class="card-title mb-0">
        <i class="fas fa-boxes"></i>
        <%= I18n.t("ingeniario.items.stocks_title") %>
      </h3>
      <div>
        <%= link_to new_item_stock_path(@item), class: "btn btn-primary me-2" do %>
          <i class="fas fa-plus"></i>
          <%= I18n.t("ingeniario.buttons.new_stock") %>
        <% end %>
        <%= link_to bulk_new_item_stocks_path(@item), class: "btn btn-success" do %>
          <i class="fas fa-layer-group"></i>
          Crear Stocks Masivos
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <% if @item.stocks.any? %>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th><%= I18n.t("ingeniario.stocks.cols.reference") %></th>
                <th><%= I18n.t("ingeniario.stocks.cols.active") %></th>
                <th><%= I18n.t("ingeniario.stocks.cols.location") %></th>
                <th><%= I18n.t("ingeniario.stocks.cols.description") %></th>
                <th><%= I18n.t("ingeniario.stocks.cols.entry_date") %></th>
                <th class="text-center" width="15%">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: 'stocks/item_stock', collection: @item.stocks, as: :stock %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="alert alert-info">
          <i class="fas fa-info-circle"></i>
          <%= I18n.t("ingeniario.items.no_stocks") %>
        </div>
      <% end %>
    </div>
  </div>
</div>