<div id="<%= dom_id warehouse %>">
  <div class="row">
    <div class="col-md-6">
      <p>
        <strong><%= I18n.t("ingeniario.warehouses.cols.name") %>:</strong>
        <%= warehouse.name %>
      </p>

      <p>
        <strong><%= I18n.t("ingeniario.warehouses.cols.description") %>:</strong>
        <%= warehouse.description %>
      </p>
    </div>

    <div class="col-md-6">
      <p>
        <strong><%= I18n.t("ingeniario.warehouses.cols.location") %>:</strong>
        <%= warehouse.location %>
      </p>

      <p>
        <strong><%= I18n.t("ingeniario.warehouses.cols.contact_info") %>:</strong>
        <%= warehouse.contact_info %>
      </p>
    </div>
  </div>
</div>